.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    padding: 4px;
    border-radius:5px;
    max-width: 250px;
    background-color: dimgrey;
}

.knopka {
    background-color: lightslategrey;
    padding: 10px;
    cursor: pointer;
}

.form {
    max-width: 100%;
}

.result {
    width: 100%;
    height: 60px;
    border: none;
}

.result {
    grid-column: 1/-1;
    padding: 0;
    width: 100%;
    height: 25px;
}

.knopka_zero {
    background-color: lightslategrey;
    padding: 10px;
}

.knopka_ravno {
    background-color: lightslategrey;
    padding: 10px;
}

.knopka_clear {
    background-color: lightslategrey;
    padding: 10px;
}